@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;  /* Background color */
  --foreground: #171717;  /* Text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: black;
  color: white;
}

button:hover {
  background-color: #333333; /* Slightly darker for hover */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
